body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    /* margin: 0; /* Remove default margin */
    /* padding: 0; Remove default padding */
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;  */ 
}
#board{
    background-image: url("sky1.jpg");
    /* position: absolute; */
    background-size: cover; 
     background-repeat: no-repeat; 
     
}
button{
    background-color: orange;
    color: aliceblue;
}
p{
    font-weight: 100;
}

button:hover {
    background-color: #45a049;
}
#back {
    position: absolute;
    bottom: 10px;
    right: 10px; 
    padding: 10px 20px;
}